body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f8f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
   
    color: #4933FF;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #4933FF;
    border-radius: 4px;
    width: calc(50% - 16px); 
    box-sizing: border-box;
}

input[type="submit"] {
    
    background-color: #4933FF;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4933FF;
}

a {
    display: block;
    margin-top: 15px;
    
    color: #4933FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}